{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title> Charts </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="{% static 'advertiser/dashboard/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{% static 'advertiser/dashboard/css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="{% static 'advertiser/dashboard/css/font-awesome.css' %}" rel="stylesheet">
<!-- jQuery -->
<!-- lined-icons -->
<link rel="stylesheet" href="{% static 'advertiser/dashboard/css/icon-font.min.css' %}" type='text/css' />
<!-- //lined-icons -->
<!-- chart -->
<script src="{% static 'advertiser/js/Chart.js' %}"></script>
<!-- //chart -->
<!--animate-->
<link href="{% static 'advertiser/dashboard/css/animate.css' %}" rel="stylesheet" type="text/css" media="all">
<script src="{% static 'advertiser/js/wow.min.js' %}"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<!---//webfonts--->
 <!-- Meters graphs -->
<script src="{% static 'advertiser/js/jquery-1.10.2.min.js' %}"></script>

</head> 
   
 <body class="sticky-header left-side-collapsed"  onload="initMap()">
    <section>
    <!-- left side start-->
		<div class="left-side sticky-left-side">

			<!--logo and iconic logo start-->
			<div class="logo">
				<h1><a href="{% url 'advertiser:home' %}">Adver<span>tiser</span></a></h1>
			</div>
			<div class="logo-icon text-center">
				<a href="{% url 'advertiser:home' %}"><i class="lnr lnr-home"></i> </a>
			</div>

			<!--logo and iconic logo end-->
			<div class="left-side-inner">

				<ul class="nav nav-pills nav-stacked custom-nav">
						<li><a href="{% url 'advertiser:home' %}"><i class="lnr lnr-power-switch"></i><span>Dashboard</span></a></li>
						<li class="active"><a href="{% url 'advertiser:forms' %}"><i class="lnr lnr-spell-check"></i> <span>Add</span></a></li>

						<li class="active"><a href="{% url 'advertiser:charts' %}">
                            <i class="lnr lnr-indent-increase"></i> <span>Charts</span></a>
								<li class="active"><a href="{% url 'advertiser:login' %}">
                            <i class="lnr lnr-exit"></i> <span>Sign In</span></a>
								<li class="active"><a href="{% url 'advertiser:registration' %}">
                            <i class="lnr lnr-user"></i> <span>Sign Up</span></a>

				<!--sidebar nav end-->
			</div>

		</div>
    <!-- left side end-->
    

		
			<!-- header-starts -->
			<div class="header-section">
			 

										<!-- search-scripts -->
										<script src="{% static 'advertiser/js/classie.js' %}"></script>
										<script src="{% static 'advertiser/js/uisearch.js' %}"></script>
											<script>
												new UISearch( document.getElementById( 'sb-search' ) );
											</script>
										<!-- //search-scripts -->
	<!-- //header-ends -->
			<div id="page-wrapper">
				<div class="graphs">

					<h3 class="blank1">Charts Of Users</h3>
					<div class="graph_box">					
						<div class="clearfix"> </div>
					</div>
					<div class="graph_box1">
						<div class="col-md-6 grid_2 grid_2_bot">
							<div class="grid_1">
								<h4>Categorys</h4>
								<div id="chartContainer" style="height: 300px; width: 100%;"></div>
								<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
							</div>
						</div>
						<div class="col-md-6 grid_2 grid_2_bot">
							<div class="grid_1">
								<h4>Line</h4>
								<div id="chartLine" style="height: 150px; width: 100%;"></div>
                                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
							</div>
							<div class="line-bottom-grid">
								<div class="grid_1">
									<h4>Bar</h4>
									<div id="chartBar" style="height: 150px; width: 100%;"></div>
                                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
		<!--footer section start-->
			<footer>
			   <p>&copy 2018</p>
			</footer>
        <!--footer section end-->
	</section>
<script>
var chart1 = new CanvasJS.Chart("chartContainer", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	data: [{
		type: "pie",
		startAngle: 25,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabelFontSize: 16,
		indexLabel: "{label} - {y}%",
		dataPoints: [
			{ y: {{stuents}}, label: "Sport" },
			{ y: {{stuents}}, label: "Tech" },
			{ y: {{stuents}}, label: "Shopping" },
			{ y: {{stuents}}, label: "Travel" },

		]
	}]
});
var chart2 = new CanvasJS.Chart("chartLine", {
	animationEnabled: true,
	theme: "light2",
	axisY:{
		includeZero: false
	},
	data: [{
		type: "line",
		dataPoints: [
			{ y: 450 },
			{ y: 414},
			{ y: 520, indexLabel: "highest",markerColor: "red", markerType: "triangle" },
			{ y: 460 },
			{ y: 450 },
			{ y: 500 },
			{ y: 480 },
			{ y: 480 },
			{ y: 410 , indexLabel: "lowest",markerColor: "DarkSlateGrey", markerType: "cross" },
			{ y: 500 },
			{ y: 480 },
			{ y: 510 }
		]
	}]
});
var chart3 = new CanvasJS.Chart("chartBar", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2",
	axisY: {
		title: "Reserves(MMbbl)"
	},
	data: [{
		type: "column",
		showInLegend: true,
		legendMarkerColor: "grey",
		legendText: "MMbbl = one million barrels",
		dataPoints: [
			{ y: {{stuents}}, label: "Tech" },
			{ y: {{stuents}},  label: "Sport" },
			{ y: {{stuents}},  label: "Travel" },
			{ y: {{stuents}},  label: "Shopping" }
		]
	}]
});
chart3.render();

chart1.render();
chart2.render();

</script>

<script src="{% static 'advertiser/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'advertiser/js/scripts.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="{% static 'advertiser/js/bootstrap.min.js' %}"></script>
</body>
</html>
